<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar {{ progreso }}</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 8px"
            [style.width]="getProgreso"
            role="progressbar"
          ></div>
        </div>
        <h4 class="card-title">Striped Progress bar {{ progreso1 }}</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-success progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="getProgreso1"
            style="height: 8px"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [valor]="progreso"
          (out_value)="progreso = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [valor]="progreso1"
          (out_value)="progreso1 = $event"
          [btnClass]="'btn-info'"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
