<div class="row">
  <div class="col-6">
    <app-horario></app-horario>
  </div>
  <div class="col-6">
    <div style="display: block">
      <h2>Horas trabjadas</h2>
      <span>{{ fecha | date: "shortDate" }}</span>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="col-6">
    <div style="display: block">
      <h2>Pago por Horas Trabajadas</h2>
      <span>{{ fecha | date: "shortDate" }}</span>
      <ul>
        <li *ngFor="let item of empleados">
          <p>{{ item.nombre }}</p>
          <p>{{ item.pago }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
