<div class="row">
  <!-- <div class="col-6">
    <app-dona
      title="Compras"
      [label]="label1"
      [data]="data1"
      [colors]="colors1"
    ></app-dona>
  </div> -->
  <div class="col-6">
    <!-- <app-dona
      title="Empleados"
      [label]="label2"
      [data]="data2"
      [colors]="colors2"
    ></app-dona> -->
    <app-horario></app-horario>
  </div>
  <div class="col-6">
    <app-dona
      title="Productos Stock"
      [label]="label3"
      [data]="data3"
      [colors]="colors3"
    ></app-dona>
  </div>
  <div class="col-6"></div>
</div>
