<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <h4 class="card-title m-t-10">Pagos Diarios</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="form-horizontal form-material">
            <div class="form-group m-t-40">
              <div class="col-xs-12">
                <select class="form-control" [(ngModel)]="seleccionados" (change)="getPagosByUser()" style="
                      text-align: center;
                      background-color: lightgray;
                      color: black;
                      font-weight: 900;">
                  <option *ngFor="let user of totalUsers" [value]="user.id">{{user.name | uppercase}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="flex">
    <div>
      <ul style="
      color: black;
      font-weight: 900;">
        <li>Horario de Entrada: <p><strong>09:00:00 am - 14:00:00 pm</strong></p>
        </li>
        <li>Horario de Salida: <p><strong>14:00:00 pm - 22:00:00 pm</strong></p>
        </li>
        <li>Dia no Laburado: <p><strong>Si no llegas a la hora de Entrada Maxima</strong></p>
        </li>
      </ul>
    </div>
    <div>
      <button *ngIf="isDate" class="btn btn-info btn-lg text-uppercase btn-rounded" (click)="enviarHoraEntrada()">
        Registrame
      </button>
    </div>
  </div>
</div>