<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-3">
    <div class="card-body">
      <h4 class="card-title m-t-10">Drag &amp; Drop Event</h4>
      <div class="row">
        <div class="col-md-12">
          <div id="calendar-events" class="">
            <div
              class="calendar-events ui-draggable ui-draggable-handle"
              data-class="bg-info"
              style="position: relative"
            >
              <i class="fa fa-circle text-info"></i> My Event One
            </div>
            <div
              class="calendar-events ui-draggable ui-draggable-handle"
              data-class="bg-success"
              style="position: relative"
            >
              <i class="fa fa-circle text-success"></i> My Event Two
            </div>
            <div
              class="calendar-events ui-draggable ui-draggable-handle"
              data-class="bg-danger"
              style="position: relative"
            >
              <i class="fa fa-circle text-danger"></i> My Event Three
            </div>
            <div
              class="calendar-events ui-draggable ui-draggable-handle"
              data-class="bg-warning"
              style="position: relative"
            >
              <i class="fa fa-circle text-warning"></i> My Event Four
            </div>
          </div>
          <!-- checkbox -->
          <div class="checkbox m-t-20">
            <input id="drop-remove" type="checkbox" />
            <label for="drop-remove"> Remove after drop </label>
          </div>
          <a
            href="#"
            data-toggle="modal"
            data-target="#add-new-event"
            class="btn m-t-10 btn-info btn-block waves-effect waves-light"
          >
            <i class="ti-plus"></i> Add New Event
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card-body b-l calender-sidebar">
      <div id="calendar" class="fc fc-unthemed fc-ltr">
        <div class="fc-toolbar fc-header-toolbar">
          <div class="fc-left">
            <div class="fc-button-group">
              <button
                type="button"
                class="fc-prev-button fc-button fc-state-default fc-corner-left"
              >
                <span class="fc-icon fc-icon-left-single-arrow"></span></button
              ><button
                type="button"
                class="fc-next-button fc-button fc-state-default fc-corner-right"
              >
                <span class="fc-icon fc-icon-right-single-arrow"></span>
              </button>
            </div>
            <button
              type="button"
              class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled"
              disabled=""
            >
              today
            </button>
          </div>
          <div class="fc-right">
            <div class="fc-button-group">
              <button
                type="button"
                class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active"
              >
                month</button
              ><button
                type="button"
                class="fc-agendaWeek-button fc-button fc-state-default"
              >
                week</button
              ><button
                type="button"
                class="fc-agendaDay-button fc-button fc-state-default fc-corner-right"
              >
                day
              </button>
            </div>
          </div>
          <div class="fc-center"><h2>January 2022</h2></div>
          <div class="fc-clear"></div>
        </div>
        <div class="fc-view-container" style="">
          <div class="fc-view fc-month-view fc-basic-view" style="">
            <table>
              <thead class="fc-head">
                <tr>
                  <td class="fc-head-container fc-widget-header">
                    <div class="fc-row fc-widget-header" style="">
                      <table>
                        <thead>
                          <tr>
                            <th class="fc-day-header fc-widget-header fc-sun">
                              <span>Sun</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-mon">
                              <span>Mon</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-tue">
                              <span>Tue</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-wed">
                              <span>Wed</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-thu">
                              <span>Thu</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-fri">
                              <span>Fri</span>
                            </th>
                            <th class="fc-day-header fc-widget-header fc-sat">
                              <span>Sat</span>
                            </th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody class="fc-body">
                <tr>
                  <td class="fc-widget-content">
                    <div
                      class="fc-scroller fc-day-grid-container"
                      style="overflow: hidden; height: 493px"
                    >
                      <div class="fc-day-grid fc-unselectable">
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 82px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-other-month fc-past"
                                    data-date="2021-12-26"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-other-month fc-past"
                                    data-date="2021-12-27"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-other-month fc-past"
                                    data-date="2021-12-28"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-other-month fc-past"
                                    data-date="2021-12-29"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-other-month fc-past"
                                    data-date="2021-12-30"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-other-month fc-past"
                                    data-date="2021-12-31"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-past"
                                    data-date="2022-01-01"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-other-month fc-past"
                                    data-date="2021-12-26"
                                  >
                                    <span class="fc-day-number">26</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-other-month fc-past"
                                    data-date="2021-12-27"
                                  >
                                    <span class="fc-day-number">27</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-other-month fc-past"
                                    data-date="2021-12-28"
                                  >
                                    <span class="fc-day-number">28</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-other-month fc-past"
                                    data-date="2021-12-29"
                                  >
                                    <span class="fc-day-number">29</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-other-month fc-past"
                                    data-date="2021-12-30"
                                  >
                                    <span class="fc-day-number">30</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-other-month fc-past"
                                    data-date="2021-12-31"
                                  >
                                    <span class="fc-day-number">31</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-past"
                                    data-date="2022-01-01"
                                  >
                                    <span class="fc-day-number">1</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fc-event-container">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end bg-warning fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-title"
                                          >your meeting with john</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 82px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-past"
                                    data-date="2022-01-02"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-past"
                                    data-date="2022-01-03"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-past"
                                    data-date="2022-01-04"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-past"
                                    data-date="2022-01-05"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-today fc-state-highlight"
                                    data-date="2022-01-06"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-future"
                                    data-date="2022-01-07"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-future"
                                    data-date="2022-01-08"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-past"
                                    data-date="2022-01-02"
                                  >
                                    <span class="fc-day-number">2</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-past"
                                    data-date="2022-01-03"
                                  >
                                    <span class="fc-day-number">3</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-past"
                                    data-date="2022-01-04"
                                  >
                                    <span class="fc-day-number">4</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-past"
                                    data-date="2022-01-05"
                                  >
                                    <span class="fc-day-number">5</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-today fc-state-highlight"
                                    data-date="2022-01-06"
                                  >
                                    <span class="fc-day-number">6</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-future"
                                    data-date="2022-01-07"
                                  >
                                    <span class="fc-day-number">7</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-future"
                                    data-date="2022-01-08"
                                  >
                                    <span class="fc-day-number">8</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fc-event-container" colspan="2">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-info fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">12:19a</span>
                                        <span class="fc-title"
                                          >your meeting with john</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-danger fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">3:09p</span>
                                        <span class="fc-title"
                                          >This is today check date</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 82px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-future"
                                    data-date="2022-01-09"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-future"
                                    data-date="2022-01-10"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-future"
                                    data-date="2022-01-11"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-future"
                                    data-date="2022-01-12"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-future"
                                    data-date="2022-01-13"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-future"
                                    data-date="2022-01-14"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-future"
                                    data-date="2022-01-15"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-future"
                                    data-date="2022-01-09"
                                  >
                                    <span class="fc-day-number">9</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-future"
                                    data-date="2022-01-10"
                                  >
                                    <span class="fc-day-number">10</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-future"
                                    data-date="2022-01-11"
                                  >
                                    <span class="fc-day-number">11</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-future"
                                    data-date="2022-01-12"
                                  >
                                    <span class="fc-day-number">12</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-future"
                                    data-date="2022-01-13"
                                  >
                                    <span class="fc-day-number">13</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-future"
                                    data-date="2022-01-14"
                                  >
                                    <span class="fc-day-number">14</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-future"
                                    data-date="2022-01-15"
                                  >
                                    <span class="fc-day-number">15</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-success fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">3:49p</span>
                                        <span class="fc-title">Like it?</span>
                                      </div></a
                                    >
                                  </td>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-info fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">11:55a</span>
                                        <span class="fc-title"
                                          >Released Ample Admin!</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 82px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-future"
                                    data-date="2022-01-16"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-future"
                                    data-date="2022-01-17"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-future"
                                    data-date="2022-01-18"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-future"
                                    data-date="2022-01-19"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-future"
                                    data-date="2022-01-20"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-future"
                                    data-date="2022-01-21"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-future"
                                    data-date="2022-01-22"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-future"
                                    data-date="2022-01-16"
                                  >
                                    <span class="fc-day-number">16</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-future"
                                    data-date="2022-01-17"
                                  >
                                    <span class="fc-day-number">17</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-future"
                                    data-date="2022-01-18"
                                  >
                                    <span class="fc-day-number">18</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-future"
                                    data-date="2022-01-19"
                                  >
                                    <span class="fc-day-number">19</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-future"
                                    data-date="2022-01-20"
                                  >
                                    <span class="fc-day-number">20</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-future"
                                    data-date="2022-01-21"
                                  >
                                    <span class="fc-day-number">21</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-future"
                                    data-date="2022-01-22"
                                  >
                                    <span class="fc-day-number">22</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fc-event-container fc-limited">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-info fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">10:42a</span>
                                        <span class="fc-title"
                                          >This is your birthday</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                  <td class="fc-more-cell" rowspan="1">
                                    <div><a class="fc-more">+2 more</a></div>
                                  </td>
                                  <td rowspan="2"></td>
                                  <td rowspan="2"></td>
                                  <td rowspan="2"></td>
                                  <td rowspan="2"></td>
                                  <td rowspan="2"></td>
                                  <td rowspan="2"></td>
                                </tr>
                                <tr class="fc-limited">
                                  <td class="fc-event-container">
                                    <a
                                      class="fc-day-grid-event fc-h-event fc-event fc-start fc-end bg-danger fc-draggable"
                                      ><div class="fc-content">
                                        <span class="fc-time">4:15p</span>
                                        <span class="fc-title"
                                          >Hanns birthday</span
                                        >
                                      </div></a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 82px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-future"
                                    data-date="2022-01-23"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-future"
                                    data-date="2022-01-24"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-future"
                                    data-date="2022-01-25"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-future"
                                    data-date="2022-01-26"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-future"
                                    data-date="2022-01-27"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-future"
                                    data-date="2022-01-28"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-future"
                                    data-date="2022-01-29"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-future"
                                    data-date="2022-01-23"
                                  >
                                    <span class="fc-day-number">23</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-future"
                                    data-date="2022-01-24"
                                  >
                                    <span class="fc-day-number">24</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-future"
                                    data-date="2022-01-25"
                                  >
                                    <span class="fc-day-number">25</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-future"
                                    data-date="2022-01-26"
                                  >
                                    <span class="fc-day-number">26</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-future"
                                    data-date="2022-01-27"
                                  >
                                    <span class="fc-day-number">27</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-future"
                                    data-date="2022-01-28"
                                  >
                                    <span class="fc-day-number">28</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-future"
                                    data-date="2022-01-29"
                                  >
                                    <span class="fc-day-number">29</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div
                          class="fc-row fc-week fc-widget-content fc-rigid"
                          style="height: 83px"
                        >
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td
                                    class="fc-day fc-widget-content fc-sun fc-future"
                                    data-date="2022-01-30"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-mon fc-future"
                                    data-date="2022-01-31"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-tue fc-other-month fc-future"
                                    data-date="2022-02-01"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-wed fc-other-month fc-future"
                                    data-date="2022-02-02"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-thu fc-other-month fc-future"
                                    data-date="2022-02-03"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-fri fc-other-month fc-future"
                                    data-date="2022-02-04"
                                  ></td>
                                  <td
                                    class="fc-day fc-widget-content fc-sat fc-other-month fc-future"
                                    data-date="2022-02-05"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td
                                    class="fc-day-top fc-sun fc-future"
                                    data-date="2022-01-30"
                                  >
                                    <span class="fc-day-number">30</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-mon fc-future"
                                    data-date="2022-01-31"
                                  >
                                    <span class="fc-day-number">31</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-tue fc-other-month fc-future"
                                    data-date="2022-02-01"
                                  >
                                    <span class="fc-day-number">1</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-wed fc-other-month fc-future"
                                    data-date="2022-02-02"
                                  >
                                    <span class="fc-day-number">2</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-thu fc-other-month fc-future"
                                    data-date="2022-02-03"
                                  >
                                    <span class="fc-day-number">3</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-fri fc-other-month fc-future"
                                    data-date="2022-02-04"
                                  >
                                    <span class="fc-day-number">4</span>
                                  </td>
                                  <td
                                    class="fc-day-top fc-sat fc-other-month fc-future"
                                    data-date="2022-02-05"
                                  >
                                    <span class="fc-day-number">5</span>
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN MODAL -->
<div class="modal none-border" id="my-event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add Event</strong></h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary waves-effect"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-success save-event waves-effect waves-light"
        >
          Create event
        </button>
        <button
          type="button"
          class="btn btn-danger delete-event waves-effect waves-light"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add Category -->
<div class="modal fade none-border" id="add-new-event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add</strong> a category</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Category Name</label>
              <input
                class="form-control form-white"
                placeholder="Enter name"
                type="text"
                name="category-name"
              />
            </div>
            <div class="col-md-6">
              <label class="control-label">Choose Category Color</label>
              <select
                class="form-control form-white"
                data-placeholder="Choose a color..."
                name="category-color"
              >
                <option value="success">Success</option>
                <option value="danger">Danger</option>
                <option value="info">Info</option>
                <option value="primary">Primary</option>
                <option value="warning">Warning</option>
                <option value="inverse">Inverse</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light save-category"
          data-dismiss="modal"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary waves-effect"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
