<div
  class="fondo-modal-img oculto animated fadeIn fast"
  [class.oculto]="modalImagenService.ocultarModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block; padding-right: 16px"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" (click)="cerrarModal()">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img
              *ngIf="!imgTemp"
              [src]="modalImagenService.img"
              class="img-avatar"
            />
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
          </div>
          <input type="file" (change)="cambiarImg($event)" />
        </div>
        <div class="modal-footer">
          <button
            (click)="cerrarModal()"
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button (click)="subirImagen()" type="button" class="btn btn-primary">
            Cargar Imagen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
