<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuario..."
          (keyup)="buscar(txtTerm.value)"
          #txtTerm
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="cargando" class="row animated fadeIn slow">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card bg-dark">
      <div class="card-body">
        <div class="text-right">
          <button class="btn btn-primary" (click)="abrirAlertCrearProducto()">
            <i class="fa fa-hospital-o">Crear Producto</i>
          </button>
        </div>
        <h4 class="card-title">Productos ({{ productos.length }})</h4>
        <h6 class="card-subtitle">Productos Registrados</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="table-dark">
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th class="w100 text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos" class="table-dark">
                <td class="text-center">
                  <img
                    [src]="producto.img | imagen: 'productos'"
                    [alt]="producto.name"
                    class="avatar cursor"
                    (click)="abrirModal(producto)"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="buscar..."
                    [(ngModel)]="producto.name"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="buscar..."
                    [(ngModel)]="producto.price"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="buscar..."
                    [(ngModel)]="producto.cant"
                  />
                </td>
                <td class="text-nowrap">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Guardar Cambios"
                    (click)="editarProducto(producto)"
                    class="cursor"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="borrarProducto(producto)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary" (click)="cambiarPagina(-5)">
          Anterior
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="cambiarPagina(5)">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
