<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-3">
              <h2>Green <b>Apple</b></h2>
            </div>
          </div>
        </div>
        <table class="table table-responsive  table-striped table-hover">
          <thead>
            <tr>
              <th>Terminado</th>
              <th>Cliente</th>
              <th>Modelo</th>
              <th>Telefono</th>
              <th>Precio</th>
              <th>Descripcion</th>
              <th>Urgencia</th>
              <th>trabajador</th>
              <th>Fecha</th>
              <th>Entregado</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let trabajos of data; index as i;">{{trabajos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
